.breadcrumb-container {
  grid-column: full-start/col-start 3;
  padding: 1rem 0;
  font-size: 14px;
  color: #555;

  .breadcrumb-text {
    display: flex;
    gap: 2px;
    align-items: center;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
  }

  .breadcrumb-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb-arrow {
    margin-left: 8px;
    margin-right: 8px;
  }
}
