@use "../utils/variables" as *;
.product-main-offers {
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 300px !important;
}

.main-offer-left {
  padding: 15px;
  background-color: #fff;
}
.main-offer-right {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
}
.countdown-timer {
  margin-top: 20px;
}

.countdown {
  display: flex;
  gap: 10px;
}

.countdown-box {
  width: 50px;
  padding: 4px;
  text-align: center;
  background-color: $color-grey-dark-2;
  color: $color-grey;
  border-radius: 4px;
}

.countdown-box p {
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-grey;
}

.offer-box {
  background-color: #fff;
  border: 1px solid #e6d9d9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}

.offer-box:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.offer-image {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.offer-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.offer-details {
  margin-top: 10px;
}

.offer-box h4 {
  color: $color-grey-dark-1;
  margin: 10px 0;
}

.offer-box p {
  color: #e74c3c;
  font-size: 1.5rem;
  margin-top: 10px;
}

/* For screens smaller than 768px (Mobile or Tablet view) */
@media (max-width: 768px) {
  .product-main-offers {
    display: grid;
    grid-template-columns: 1fr; /* Stacked layout */
    grid-template-rows: auto auto; /* Each item takes up full width, stacked vertically */
    gap: 10px;
  }
  .main-offer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .main-offer-right {
    display: flex;
    overflow-x: auto;
  }
  .offer-box {
    flex: 0 0 auto;
    min-width: 120px;
    max-width: 150px;
    height: 150px;
  }
  .offer-image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  .countdown-box {
    width: 30px;
  }
  .offer-box h4 {
    color: $color-grey-dark-1;
    margin: 2px 0;
  }

  .offer-box p {
    color: #e74c3c;
    font-size: 1.5rem;
    margin-top: 4px;
  }
  .offer-details {
    & > h4 {
      font-size: 1.2rem;
    }
    & > p {
      width: 55px;
      font-size: 1.2rem;
    }
  }
}
