.aboutUs_content {
  max-width: 140rem;
  width: 100%;
  height: auto;
  margin: 0 auto;

  display: grid;
  grid-template-rows: minmax(45vh, auto) repeat(7, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    minmax(6rem, 1fr) [full-end];

  row-gap: 1rem;

  &--childOne {
    grid-column: full-start/full-end;
  }
  &--childTwo {
    grid-column: full-start/full-end;
  }
}
