@use "../utils/variables" as *;
.home_content {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px;
  display: grid;
  grid-template-rows: 40vh repeat(3, min-content) repeat(2, 50vh) 30vh min-content;
  grid-template-columns: repeat(
    8,
    [col-start] minmax(min-content, 14rem) [col-end]
  );
}
