@use "../utils/variables" as *;
.home_content {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px;
  display: grid;
  grid-template-rows: 45vh repeat(7, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    minmax(6rem, 1fr) [full-end];

  row-gap: 3rem;
}
@media (max-width: 768px) {
  .home_content {
    padding: 5px;
    row-gap: 1rem;
  }
}
@media (max-width: 425px) {
  .home_content {
    padding: 0 !important;
    grid-template-rows: 25vh repeat(7, min-content);
  }
}
