@use "../utils/variables" as *;
.login_content {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px;
  display: grid;
  grid-template-rows: minmax(45vh, auto) repeat(7, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    minmax(6rem, 1fr) [full-end];

  row-gap: 1rem;
}
.login_form {
  width: 80%;
}
.login_left-side {
  @apply h-full min-h-[400px]; // Tailwind utility, fallback for older browsers
  grid-column: full-start / col-end 5;
  background-size: cover;
  background-position: center;
}
.login_right-side {
  @apply h-full min-h-[400px];
  grid-column: full-start / col-end 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .login_content {
    padding: 5px;
    row-gap: 1rem;
  }
}
@media (max-width: 425px) {
  .login_content {
    padding: 0 !important;
    grid-template-rows: 25vh repeat(7, min-content);
  }
}
