.footer {
    width: 100%;
    background-color: rgb(252, 245, 237);
    text-align: center;
  }
  
  .footer-content {
    color: rgb(31, 29, 29);
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    font-size: large;
  }
  