@use "../utils/variables" as *;
.navbar {
  width: 100%;
  margin: 0 auto;
  font-size: large;
  background-color: $color-grey-light-1;
  padding: 1rem 0;
}
.brand > span {
  color: $color-secondary-light-1;
}
.nav-content {
  max-width: 140rem;
  width: 100%;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: rgb(29, 29, 29);
}
.nav-icons button > span {
  font-size: 1.4rem;
}

@media (max-width: 1200px) {
  /* Large desktops */
  .navbar {
    font-size: 1.4rem;
  }
  .nav-content {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  /* Medium desktop */
  .navbar {
    font-size: 1.3rem;
  }
  .nav-content {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  /* Tablets */
  .navbar {
    font-size: 1.2rem;
  }
  .nav-content {
    padding: 10px;
    text-align: center;
  }
  .sidebar {
    width: 0; /* Initially hidden on tablets */
  }
  .main-home {
    padding: 15px;
  }
  .nav-icons {
    margin-right: 1rem;
    font-size: 1.8rem;
  }
  .nav-icons button > span {
    font-size: 1.2rem;
  }
}
@media (max-width: 420px) {
}
