@use "../utils/variables" as *;
@import "./tailwind.css";
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // This helps with using rems more effectively (1rem = 10px)
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

.app {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

.main-home {
 
  width: 100%;
  background-color: $color-grey ;
  margin: 0 auto;
  flex-grow: 1;
  padding: 20px;
}

/* Media Queries for Responsive Design */

// --------------------Mobile view for only
@media (max-width: 576px) {
  /* Mobile devices */
  .navbar {
    font-size: 1.1rem;
  }
  .nav-content {
    padding: 8px;
  }
  .sidebar {
    width: 0; /* Initially hidden on mobile */
  }
  .sidebar.show {
    width: 150px; /* Expanded width on mobile */
  }
  .main-home {
    padding: 10px;
  }
  .footer-content {
    font-size: 1.2rem;
  }
}
